@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Inter:wght@600&family=Open+Sans:ital@1&family=Poppins:wght@500;700&family=Work+Sans:wght@700&display=swap');
.btn-primary{
    color: white;
    background: #1090D8;
    border: none;
    border-radius: 7px;
    padding: 10px 80px 10px 80px ;
}
/* 

.triangle:hover {
    background-color: rgb(162, 86, 74);
  }
.rectangle:hover {
    background-color: rgb(210, 172, 36);
  }
.parallelogram:hover {
    background-color: rgb(36, 100, 210);
  }
.rhombus:hover {
    background-color: rgb(199, 36, 210);
  }
.pentagon:hover {
    background-color: rgb(210, 36, 100);
  }
.ellipse:hover {
    background-color: rgb(36, 210, 68);
  }
 */



  





 